::selection {
  background-color: #fe5622;
  color: #fff;
}
::-moz-selection {
  background-color: #fe5622;
  color: #fff;
}

.color-theme {
  color: #fe5622; 
}

.owl-dots .owl-dot.active,
.bg-theme {
  background: #fe5622;
}

.theme-border {
  border-color: #fe5622;  
}

.btn.btn-theme {
    background: #fe5622;
    border-color: #fe5622;
    color: #fff;
}
