::selection {
  background-color: #9b27af;
  color: #fff;
}
::-moz-selection {
  background-color: #9b27af;
  color: #fff;
}

.color-theme {
  color: #9b27af; 
}

.owl-dots .owl-dot.active,
.bg-theme {
  background: #9b27af;
}

.theme-border {
  border-color: #9b27af;  
}

.btn.btn-theme {
    background: #9b27af;
    border-color: #9b27af;
    color: #fff;
}
