::selection {
  background-color: #fec007;
  color: #fff;
}
::-moz-selection {
  background-color: #fec007;
  color: #fff;
}

.color-theme {
  color: #fec007; 
}

.owl-dots .owl-dot.active,
.bg-theme {
  background: #fec007;
}

.theme-border {
  border-color: #fec007;  
}

.btn.btn-theme {
    background: #fec007;
    border-color: #fec007;
    color: #fff;
}
