::selection {
  background-color: #3e50b4;
  color: #fff;
}
::-moz-selection {
  background-color: #3e50b4;
  color: #fff;
}

.color-theme {
  color: #3e50b4; 
}

.owl-dots .owl-dot.active,
.bg-theme {
  background: #3e50b4;
}

.theme-border {
  border-color: #3e50b4;  
}

.btn.btn-theme {
    background: #3e50b4;
    border-color: #3e50b4;
    color: #fff;
}
