::selection {
  background-color: #f34236;
  color: #fff;
}
::-moz-selection {
  background-color: #f34236;
  color: #fff;
}

.color-theme {
  color: #f34236; 
}

.owl-dots .owl-dot.active,
.bg-theme {
  background: #f34236;
}

.theme-border {
  border-color: #f34236;  
}

.btn.btn-theme {
    background: #f34236;
    border-color: #f34236;
    color: #fff;
}
