::selection {
  background-color: #2195f2;
  color: #fff;
}
::-moz-selection {
  background-color: #2195f2;
  color: #fff;
}

.color-theme {
  color: #2195f2; 
}

.owl-dots .owl-dot.active,
.bg-theme {
  background: #2195f2;
}

.theme-border {
  border-color: #2195f2;  
}

.btn.btn-theme {
    background: #2195f2;
    border-color: #2195f2;
    color: #fff;
}
