::selection {
  background-color: #5cd676;
  color: #fff;
}
::-moz-selection {
  background-color: #5cd676;
  color: #fff;
}

.color-theme {
	color: #5cd676;
}

.owl-dots .owl-dot.active,
.bg-theme {
	background: #5cd676;
}

.theme-border {
	border-color: #5cd676;
}

.btn.btn-theme {
    background: #5cd676;
    border-color: #5cd676;
    color: #fff;
}